.form_element_container{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
}
.LoginInput{
    width: 100%;
    display: block;
    padding:10p;
    font-size: 15px;
    height: 30px;
    border-radius: 8px;
    border-color:rgba(0,0,0,0.3);
    margin-top:5px;
    color:rgba(0,0,0,0.6)
}
.LoginInput:focus{
    outline: none;
}
.LoginLabel{
    font-size: 15px;
    font-weight:600;
    color: rgba(0,0,0,0.8)
}
.form_submit{
    background:green;
    color:white;
    border-radius: 8px;
    padding:10px 20px;
    font-weight: bold;
}
.form_heading{
    color:rgba(0,0,0,0.5);
}
